#inpTextTarea {
  height: 28px;
}

li {
  display: flex;
  gap: 10px;
  padding: 2px;
  width: max-content;
  background-color: rgba(128, 128, 128, 0.085);
  margin-bottom: 15px;
}

.btnEditar,
.btnEliminar {
  border: 1px solid black;
  cursor: Pointer;
}
.btnEditar {
  background-color: aqua;
}
.btnEliminar {
  background-color: Red;
}
